/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

/* COMMON */

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col-left, .col-right {
    width: 50%;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-white {
    color: white;
}

.text-grey{
    color: #7c7c7c;
}

.text-black {
    color: black;
}

.color-blue {
    color: #0061ff;
}

.text-s {
    font-size: 80%;
}

.underline {
    text-decoration: underline;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.5em;
}

.bt {
    padding: 0.4em 1em;
    display: inline-block;
}

.bt-blue {
    background-color: #0061ff;
}

.bt-blue:hover {
    background-color: #1f75ff;
}

/* HEADER */
header nav {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    background-color: white;
}

/* da capire */
.menu > li {
    line-height: 78px;
}

header .col-left img {
    height: 25%;
    width: auto;
    vertical-align: middle;
}

#logo {
    margin-left: 1em;
}

header nav .nav {
    display: inline-block;
}

header .menu > li {
    display: inline-block;
    font-weight: 400;
    margin: 0 1.5em;
}

.header-button {
    margin-right: 1em;
    height: 60px;
    display: inline-block;
    line-height: normal;
}

header .col-right {
    text-align: right;
}

/* header:hover */
header .menu > li:hover {
    border-bottom: 2px solid #0061ff;
}

.submenu li {
    text-align: left;
    background-color: white;
    padding: 0 2em;
}

.submenu li:hover {
    background-color: rgb(245, 245, 245);
}

.submenu {
    position: absolute;
    left: 0;
    top: 80px;
    min-width: max-content;
    line-height: 3em;
    display: none;
}

.support {
    position: relative;
}

.support:hover .submenu {
    display: block;
}

/* MAIN */
.container {
    width: 60%;
    margin: 0 auto;
}

.mt-1 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-10 {
    margin-top: 10em;
}

.col-header {
    height: 50px;
}

.col-header {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-bottom: 1px solid #cfcfcf;
}

/* jumbotron */
.jumbotron {
    width: 100%;
    background-color: #b4d0e6;
}

.jumbo-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: -100px;
    /* max-width: 1200px; */
}

.jumbo-title {
    font-size: 4.8em;
    padding-bottom: .5em;
}

.jumbo-text {
    width: 35%;
}

.jumbotron .down-arrow i {
    font-size: 2em;
    color: black;
    margin-top: 1em;
}

.jumbo-text p {
    padding-right: 4.6em;
}

.jumbotron span {
    display: inline-block;
    margin-top: 0.5em;
}

.jumbotron .bt {
    display: inline-block;
}

.jumbo-img {
    width: 65%;
    position: relative;
}

/* tariff plan */
.tariff-plan .container {
    padding-top: 15em;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #cfcfcf;
    vertical-align: middle;
}

input[type="radio"]:checked {
    border: 6px solid #0061ff;
}

#plan2 {
    margin-left: 1em;
}

.col-container {
    width: 100%;
}

.col-plan {
    width: calc(90%/3);
    border: 1px solid #cfcfcf;
}

.col-plan.min-height{
    min-height: 900px;
}

.plan {
    padding: 1em;
}

.col-plan li {
    position: relative;
    padding-left: 1.4em;
}

.col-plan li i {
    position: absolute;
    top: .2em;
    left: 0;
}

.plan .try-free {
    text-align: center;
}

.plan .try-free a {
    padding: 0.6em 4em;
}

.plan .color-blue {
    text-decoration: underline;
}

.hr {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 2em;
}

.plan-list {
    padding: 1em;
}

.plan-list .check {
    color: #0061ff;
}

.spazio::after {
    height: 50px;
    width: 50px;
}

.std {
    margin: 0 5%;
}

/* contact */
.contact-container {
    border: 1px solid #cfcfcf;
}

.team-left {
    width: 70%;
    padding: 1em;
}

.team-right {
    width: 30%;
    text-align: center;
}

.sales-contact {
    padding: 0.6em 4em;
}

/* Find a partner */
.partner-img {
    width: 60%;
}

.partner-text {
    width: 40%;
    padding-top: 2em;
    padding-left: 2em;
}

.find-partner a {
    padding: 0.5em 1em;
    border: 1px solid black;
}

.find-partner a:hover {
    background-color: rgb(245, 245, 245);
}

/* Service funtions */
.card-container {
    width: 100%;
}

.service-card {
    width: calc(100%/3);
    padding: 1em;
}

/* Companies using Dropbox */
.companies {
    width: 100%;
    margin-top: 3em;
}
.companies-container {
    width: 30%;
    height: 30vw;
}

.companies-text {
    width: 40%;
    height: 30vw;
    padding: 3em;
    overflow: auto;
    background-color: #f5f5f5;
}

.companies-text img {
    width: 25%;
}

.companies-text hr {
    width: 10%;
    border-top: 1px solid #d1d1d1;
}

.companies-square {
    width: 100%;
}

.company-card {
    width: 50%;
    height: 15vw;
    float: left;
    position: relative;
}

.company-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    filter: invert(100%);
}

#designit {
    background-color: #a2d39c;
    border: 0.6em solid #d0e9cd;
}

#arizona {
    background-color: #61082b;
}

#florida {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1f1c;
}

#bicycle {
    background-color: #d5181f;
}

#hearst {
    background-color: #b4d0e6;
}

#lonely {
    background-color: #0d2481;
}

#channel {
    background-color: #ffd831;
}

/* cta */
.cta {
    width: 100%;
    background-color: #b4d0e6;
}

.cta h2 {
    padding: 3em 0em 3em 7em;
    color: #61082b;
}

.cta a {
    background-color: white;
    padding: .4em 4em;
    margin: 9em 0em 0em 15em;
}

.cta a:hover {
    background-color: rgb(245, 245, 245);
}

/* FAQ */
.faq .container {
    padding-bottom: 3em;
}

.faq h2 {
    margin: 2em 0 1em;
}

.faq ul li .q-line {
    line-height: 4em;
    border-top: 1px solid #cfcfcf;
}

.faq ul:last-child {
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 4em;
}

.question, .angle-down {
    display: inline-block;
}

.question {
    width: 95%;
    font-weight: bold;
}

.text {
    display: none;
    padding: 1em 0;
}

.q-line:hover + .text{
    display: block;
}

.q-line:hover .angle-down {
    transform: rotate(180deg);
}

/* FOOTER */
footer {
    background-color: #000000;
    color: white;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-col {
    width: calc(100%/5);
    margin: 7em 0;
    float: left;
}

footer h4 {
    font-size: 1.2em;
    margin-bottom: .7em;
}

footer li {
    line-height: 1.8em;
}

.bottom-border {
    border-top: 1px solid #7c7c7c;
    display: inline-block;
    width: 125px;
    padding: 3em 0
}